{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Usac Music: Principal usuario</title>
  <meta charset="UTF-8">

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/form_style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'styles/form_style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'styles/layout.css' %}" type="text/css">
  <!--[if lt IE 9]><script src="{% static 'scripts/html5shiv.js' %}"></script><![endif]-->
</head>

<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    
    <div id="hgroup">
      <h1><a>PAGINA ENCARGADO</a></h1>
    </div>
    <!--Botones para registrarse e inciar sesion-->
    <nav>
        <ul>
          <li class="last"><a href="/Logout">Logout</a></li>
        </ul>
      </nav>
  </header>
</div>

<div class="wrapper row2">
<nav>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Enlace 1</a></li>
      <li class="active"><a href="#">Enlace 2</a></li>
      <li class="active"><a href="#">Enlace 3</a></li>
      <li class="active"><a href="#">Enlace 4</a></li>
      <li class="active"><a href="#">Enlace 5</a></li>
      <li class="active"><a href="#">Enlace 6</a></li>
      <li class="active"><a href="#">Enlace 7</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="wrapper row2">
    {% block contenido %}
    {% endblock %}
</div>

</body>
</html>